<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">BOTW Wiki</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/category/monsters">Monsters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/category/equipment">Equipment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/category/materials">Materials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/category/treasure">Treasures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/category/creatures">Creatures</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
